<h2 class="landing landing__api-title">
    All formateurs
</h2>

<div class="landing__hero">
    <ul class="list">
        {{#formateurs}}
        <li>
            {{id}} {{nom}}
        </li>
        {{/formateurs}}
    </ul>
</div>
