<div class="landing-container">
    <h2 class="landing landing__title">
        API with Express Router & Handlebar Templates
    </h2>

    <h3>Chat with Yoda !</h3>

    <form id='yodaForm'>
        <input type="text" id="yodaChatInput"></input>
        <input type="submit" value="Speak with Yoda !"></input> 
    </form>

    <ul id='yodaMessages'></ul>

    <div class="landing__hero">
        <div class="container-row">
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/chatAppClient.js"></script>
            <script>
                const socket = io();

                const form = document.getElementById('yodaForm');
                const input = document.getElementById('yodaChatInput');
                const messages = document.getElementById('yodaMessages');

                form.addEventListener('submit', (e) => handleSubmit(e, input));

                socket.on('Yoda message', function(msg) {
                  addYodaMessageToHTML(msg, messages);
                  window.scrollTo(0, document.body.scrollHeight);
                });
            </script>
        </div>
    </div>
</div>
