<div class="landing-container">
    <h2 class="landing landing__title">
        API with Express Router & Handlebar Templates
    </h2>

    <h3>Chat with Yoda !</h3>

    <form id='yodaForm'>
        <input type="text" id="yodaChatInput"></input>
        <input type="submit" value="Speak with Yoda !"></input> 
    </form>

    <ul id='yodaMessages'></ul>

    <div class="landing__hero">
        <div class="container-row">
            <script src="/socket.io/socket.io.js"></script>
            <script>
                var socket = io();

                var form = document.getElementById('yodaForm');
                var input = document.getElementById('yodaChatInput');
                var messages = document.getElementById('yodaMessages');

                form.addEventListener('submit', function(e) {
                    e.preventDefault();
                    if (input.value) {
                        socket.emit('chat message', input.value);
                        input.value = '';
                    }
                });

                socket.on('Yoda message', function(msg) {
                    var item = document.createElement('li');
                    item.textContent = msg['message'];
                    messages.appendChild(item);
                    window.scrollTo(0, document.body.scrollHeight);
                });
            </script>
        </div>
    </div>
</div>
